# registry=https://registry.npm.taobao.org/
# registry=https://registry.yarnpkg.com/
registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCZ5ZnQwtD4Vjr18SOH/Yib8pyfNtx9xrAiccQMtwHnwwEMSt6KuEeFksjDOlGSXGC4RcKQ4RaAxGO1Wxnfcj0iyQsdHLif4AtM85UI7yPLktRKD8PEnhVs/ox++D3aLaSYKUvU3H6YHKcdfIZVGmtHxcu/TrVOhjcz8Vnt6RTxWBVGb01lphW6/r3G3TZHwAzf4SA9yQhRvIRKeSz+URbCvXedXhL/u3TWgqEJQt+2xMTrE4RrDg5et4iLcGQrO8heSy9pCNuNSn6wc6JOAJsBTPuaUMvTOa6c5ZHOimPDAMYgWfH6Img3yj1ZcLiwWgSh6PN7g5DoEpOwV90nNSnjYuTfo5a51KkyCNmpK870G+cYACvMx6i8pT6rug+DenJmtpFMlar7KdDKQ2ctbvzA1oPqs1zdHukL6RuKQnD6LQ21kFodRVQ+5E09zLHjuMzVVGfNSFKCmCkfZ0NMrARsYdEmL8qGSmT+08WqUSC7O5y3lVh8GwDSn+RSuFj+PuEgfgTshl7IEXlYSCg7u47jXOxD5n6ci1CjkyG7i5UjPtCKlFJ0JJBw85W6ZjeF5/FL6YfrAtD8ZLqmOUS8IDCvfCUTUTZGzEOe6FmMhpHZ6p28sgxsN2yjiZ1yzTVnjBO16xMnqZXstJjbvZTYevZYyKAd2UV8XM21lVV2xPYXKw== chenjiajing@tuzhanai.com
